# Dependencies
node_modules/

# Build Output
dist/
build/

# Private Local Documentation & Notes
docs/_local

# Environment and Secrets
.env
*.env
data/
*.key
*.pem
*.json
!**/package.json
!**/tsconfig*.json
!**/gatriever.config.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / IDE
.DS_Store
.vscode/
.idea/
